
Python/NEAT-Flappy-Bird-master/.gitpod.yml
Python/NEAT-Flappy-Bird-master/.replit
Python/NEAT-Flappy-Bird-master/__pycache__/visualize.cpython-311.pyc
Python/NEAT-Flappy-Bird-master/best.pickle
Python/NEAT-Flappy-Bird-master/config-feedforward.txt
Python/NEAT-Flappy-Bird-master/flappy_bird.py
Python/NEAT-Flappy-Bird-master/imgs/base.png
Python/NEAT-Flappy-Bird-master/imgs/bg.png
Python/NEAT-Flappy-Bird-master/imgs/bird1.png
Python/NEAT-Flappy-Bird-master/imgs/bird2.png
Python/NEAT-Flappy-Bird-master/imgs/bird3.png
Python/NEAT-Flappy-Bird-master/imgs/pipe.png
Python/NEAT-Flappy-Bird-master/README.md
Python/NEAT-Flappy-Bird-master/requirements.txt
Python/NEAT-Flappy-Bird-master/visualize.py
Python/SpeechToText/ouee.mp3
Python/SpeechToText/sfr.mp3
Python/SpeechToText/speech.py
Python/SpeechToText/TuvaRepatir.mp3
